@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
	--bieber: #6e6ece;
	--akzent: #e2ba34;
	--md: 768px;
}

html, body {
	padding:  0;
	margin:  0;
	box-sizing: border-box;
	font-family: "Roboto Slab", sans-serif;
	width: 100vw;
	height: 100vh;
	line-height: 2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#svelte {
	min-height: 100vh;
}

p {
	margin: 1rem;
}

h1, h2, h3, h4 , h5 {
	font-family: "Courgette", serif;
	color:  var(--bieber);
}

ul {
	list-style-type: disc;
	padding: 1rem;
}

.menuitem {
	color:  white;
	text-decoration: none;
}

.menuitem:hover {
	text-decoration: underline;
}

.main {
	margin-top: 0;
	min-height: 100vh;
}

.content {
	margin:  0 auto;
	padding:  1.25rem;
	width: 100vw;
	box-sizing: border-box;
	flex-grow: 1;
}

.hero {
	width: 100vw;

	height: 200px;
	margin-top: -1.25rem;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
		object-fit: cover;
}

.narrow {
	height: 20rem;
	width: 100%;
	object-fit: cover;
	border-radius: 0.5em;
}


@media (min-width:  768px) {
	.content {
		width: 800px;
	}

	.hero {
		height: 300px;
	}
}