/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Courgette Regular';
    src: url('./lib/fonts/Courgette-Regular.ttf') format('ttf')
}

@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('./lib/fonts/RobotoSlab-Regular.ttf') format('ttf');
}
