@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    background-color: rgb(30, 175, 18);
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-left-color: rgb(226, 186, 52);
    border-left-width: 3px;
    font-size: larger;
}
